body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1, h2 {
    text-align: center;
}

form {
    width: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: green;
    color: white;
    border: none;
}
